rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /presentes/{giftId} {
      // Permite ler e atualizar o contador livremente
      allow read, write: if true;
    }
  }
}